/**
 * @name NezukoCord
 * @author 0J3#0001 and discorc#1234
 * @version 0.1.0
 * @description NEZUKO
 * @website https://soon
 * @source https://soon
 * @invite X6wMwAcH
 * @authorId 596425713347723269
 */
@import url("https://aubg.nora.lgbt/api/vars.css");
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin,
.floating-window #bd-editor-controls,
.floating-window-titlebar {
  background: #2a2b2c3b !important;
  backdrop-filter: blur(32px);
}

.floating-window-titlebar {
  background: #2a2b2caa;
}

.minimap.slider-mouseover {
  display: none;
}

.userPopout-xaxa6l {
  background: transparent;
}

.animatorRight-3i_YPs.translate-2dAEQ6.didRender-33z1u8 {
  background-image: url("https://cdn.discordapp.com/attachments/834637860094476308/872027179825901578/unknown.png") !important;
  background-size: 100%;
}

.bodyInnerWrapper-26fQXj {
  background: transparent !important;
}

.root-1gCeng {
  background-image: var(--user-background, url("https://cdn.discordapp.com/attachments/834637860094476308/872027179825901578/unknown.png")) !important;
  background-color: transparent !important;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 16px !important;
}
.root-1gCeng::after {
  z-index: 99;
  content: " ";
  background-color: #000;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
}
.root-1gCeng, .root-1gCeng * {
  border-top: none !important;
  border-bottom: none !important;
}
.root-1gCeng * {
  z-index: 100;
}

.body-r6_QPy,
.topSection-y3p-_D,
.footer-3UKYOU {
  background-color: transparent !important;
}

.banner-2QYc2d {
  background: transparent !important;
  opacity: 0;
  pointer-events: none;
}

.avatar-AvHqJA,
.avatar-37jOim {
  border: none;
  border-radius: 0;
  background: none !important;
}

.avatar-37jOim {
  transition: opacity 1s;
  opacity: 1;
}
.avatar-37jOim:hover {
  opacity: 0.87;
}
.avatar-37jOim:hover::before {
  opacity: 1;
  backdrop-filter: blur(5px);
}
.avatar-37jOim::before {
  display: block;
  transition: opacity 1s, backdrop-filter 1s;
  content: "View Profile";
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
  color: #fff;
  background: #2a2b2c44;
  border-radius: 10px;
  opacity: 0;
  backdrop-filter: none;
}

.avatarHint-2A3RNb {
  display: none;
}

.container-2Pjhx- {
  color: #bdbdbd;
  backdrop-filter: brightness(0.95) blur(32px);
  border-radius: 0;
}

.bd-addon-card {
  background: #2a2b2caa;
  backdrop-filter: blur(32px);
  border-radius: 10px;
}

.bd-addon-header {
  background: transparent !important;
}

#NezukoCord-card {
  background: url("https://cdn.discordapp.com/attachments/834637860094476308/872027179825901578/unknown.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: 15%;
}

.card-x5zW6z {
  background: #2a2b2caa !important;
  backdrop-filter: blur(32px) !important;
  border-radius: 10px !important;
}
.card-x5zW6z .cover-qyY86I {
  filter: brightness(0.6);
  transition: filter 0.2s;
}
.card-x5zW6z:hover .cover-qyY86I {
  filter: none;
}
.card-x5zW6z .iconWrapper-eK7GO6 {
  background: none !important;
}

.divider-3573oO {
  border-top: none !important;
  border-bottom: none !important;
}

.contentColumn-2hrIYH {
  background: #2a2b2c42;
  backdrop-filter: blur(32px);
  border-radius: 10px;
}

.connectionHeader-2MDqhu {
  background: transparent !important;
}

.wrapper-2qzCYF,
.panels-j1Uci_ {
  background: transparent;
}

body,
html,
.appMount-3lHmkl {
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
}

.appMount-3lHmkl::before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: url("https://cdn.discordapp.com/attachments/834637860094476308/872019470409957426/external-content.duckduckgo.com.png");
  filter: brightness(0.5) blur(10px);
  background-size: 100% contain;
}

/*# sourceMappingURL=nezuko.theme.css.map */
