$bg-primary: url('https://cdn.discordapp.com/attachments/834637860094476308/872019470409957426/external-content.duckduckgo.com.png');
$bg-userpopout: url('https://cdn.discordapp.com/attachments/834637860094476308/872027179825901578/unknown.png');
$solid-bg: #5c698f; // if we ever need a solid bg
