@use "sass:math";
@function divisibleBy($x, $y) {
  @return math.floor(math.div($x, $y)) * $y == $x;
}
@keyframes bg {
  @for $i from 1 to 6 {
    #{math.div($i,5)*100}#{'%'} {
      background: url('https://raw.githubusercontent.com/0J3/NezukoBD/Site/src/components/bgs/#{$i}.webp');
    }
  }
  @for $i from 0 to 10 {
    @if (divisibleBy($i, 2)) {
      #{$i*10}#{'%'} {
        background-position: 75% 75%;
      }
    } @else {
      #{$i*10}#{'%'} {
        background-position: center center;
      }
    }
  }
  100% {
    background-position: 67.5% 67.5%;
  }
}
.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}
.nezukoBg {
  background: url('https://raw.githubusercontent.com/0J3/NezukoBD/Site/src/components/bgs/1.webp');
  animation: bg 10s infinite;
  width: 50vw;
  height: 50vh;
  display: block;
  background-size: 175% !important;
  background-position: center center;
}
