@use '../../style/mixins';
.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}
.nezukoBg {
  @include mixins.Bg;
  width: 50vw;
  height: 50vh;
  display: block;
  background-size: 175% !important;
  background-position: center center;
}
