@use '../vars';
.userPopout-xaxa6l {
	background: transparent;
}
.animatorRight-3i_YPs.translate-2dAEQ6.didRender-33z1u8 {
	background-image: vars.$bg-userpopout !important;
	background-size: 100%;
}
.bodyInnerWrapper-26fQXj {
	background: transparent !important;
}
.root-1gCeng {
	background-image: var(--user-background, vars.$bg-userpopout) !important;
	background-color: transparent !important;
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	border-radius: 16px !important;
	&::after {
		z-index: 99;
		content: ' ';
		background-color: #000;
		top: 0;
		left: 0;
		pointer-events: none;
		opacity: 0.4;
		position: fixed;
		display: block;
		width: 100vw;
		height: 100vh;
	}
	&,
	& * {
		border-top: none !important;
		border-bottom: none !important;
	}
	& * {
		z-index: 100;
	}
}
.body-r6_QPy,
.topSection-y3p-_D,
.footer-3UKYOU {
	background-color: transparent !important;
}
.banner-2QYc2d {
	background: transparent !important;
	opacity: 0;
	pointer-events: none;
}
.avatar-AvHqJA,
.avatar-37jOim {
	border: none;
	border-radius: 0;
	background: none !important;
}
.avatar-37jOim {
	transition: opacity 1s;
	opacity: 1;
	&:hover {
		opacity: 0.87;
		&::before {
			opacity: 1;
			backdrop-filter: blur(5px);
		}
	}
	&::before {
		display: block;
		transition: opacity 1s, backdrop-filter 1s;
		content: 'View Profile';
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 5;
		color: #fff;
		background: #2a2b2c44;
		border-radius: 10px;
		opacity: 0;
		backdrop-filter: none;
	}
}
.avatarHint-2A3RNb {
	display: none;
}
