@use '../vars';
// bd > theme/plugin
.bd-addon-card {
	background: #2a2b2caa;
	backdrop-filter: blur(32px);
	border-radius: 10px;
}
.bd-addon-header {
	background: transparent !important;
}
#NezukoCord-card {
	background: vars.$bg-userpopout;
	background-size: cover;
	background-position-x: center;
	background-position-y: 15%;
}
// plugin repo (bd)
.card-x5zW6z {
	background: #2a2b2caa !important;
	backdrop-filter: blur(32px) !important;
	border-radius: 10px !important;
	.cover-qyY86I {
		filter: brightness(0.6);
		transition: filter 0.2s;
	}
	&:hover .cover-qyY86I {
		filter: none;
	}
	.iconWrapper-eK7GO6 {
		background: none !important;
	}
}

// settings in general (?)
.divider-3573oO {
	border-top: none !important;
	border-bottom: none !important;
}
.contentColumn-2hrIYH {
	background: #2a2b2c42;
	backdrop-filter: blur(32px);
	border-radius: 10px;
}

// connections
.connectionHeader-2MDqhu {
	background: transparent !important;
}
