@use '../vars';
.sidebar-2K8pFh {
	--width: 240px;
	$width: var(--width);
	width: $width !important;
	@mixin channelBase {
		backdrop-filter: brightness(0.7) blur(6px); // blur(32px);
		border-radius: 0;
	}
	@mixin category() {
		@include channelBase();
		color: #ddd;
		.overflow-WK9Ogt {
			color: #ccc;
		}
		width: calc($width - 8px) !important;
		padding-right: 8px !important;
		border-radius: 0;
	}
	@mixin channel() {
		@include channelBase();
		border-radius: 8px;
		color: #fff;
		width: $width !important;
		border-radius: 0;
		.content-1x5b-n {
			border-radius: 0;
			margin-left: 0;
			padding: 3px 8px;
		}
	}
	@mixin dm() {
		// @include channelBase();
		color: rgb(189, 189, 189);
	}

	.container-2Pjhx- {
		@include dm();
	}
	.containerDefault-3tr_sE {
		padding-top: 0;
		margin-top: 16px;
		.iconVisibility-fhcwiH {
			@include category();
		}
	}
	.iconVisibility-sTNpHs {
		@include channel();
	}
	.content-3YMskv {
		width: 240px;
	}
	.scroller-RmtA4e {
		overflow-y: auto !important;
	}
	&::before {
		content: ' ';

		// background: vars.$bg-sidebar;
		@include vars.randombg;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position-x: center;
		background-position-y: center;
		width: inherit;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		filter: brightness(0.5);
	}
}
