@use '../../style/mixins';
.CardWrapper {
  @include mixins.Bg(5s);
  height: auto;
  width: auto;
  display: inline-block;
  margin: 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.Card {
  // @include mixins.Bg(5s);
  display: inline-block;
  padding: 20px 20px;
  background: #1a1a1a71;
  // background-size: cover;
  // margin: 10px 10px;
  width: max-content;
  @mixin centerY() {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .logo {
    height: 64px;
    width: 64px;
    @include centerY();
  }
  .Title,
  .Description {
    text-align: center;
    width: 100%;
  }
  .Button,
  .Button > button {
    cursor: pointer;
  }
  .Button > button {
    @include centerY();
  }
}
