@use '../../style/mixins';
body.bddl,
body.dlList {
  &.bddl {
    header {
      display: none;
    }
  }
  padding: 10px 10px;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &.dlList {
    top: 56px;
  }

  &.error > div.downloading {
    display: none;
  }
  & > div.error {
    display: none;
  }
  &.error > div.error {
    display: block;
  }
  :not(nav) > a {
    color: rgb(102, 149, 238);
  }
  .round {
    border-radius: 100%;
  }
  .nezukopng {
    height: 1em;
    margin-right: 10px;
    position: relative;
    top: 3px;
  }
}

@media screen and (max-width: 500px) {
  body.dlList {
    overflow: hidden;
  }
  body.dlList .dls {
    pointer-events: none;
    & > * {
      opacity: 0.5;
      left: calc(50vw - 20px);
      position: relative;
      transform: translate(-50%, 0);
    }

    &::before {
      content: 'Cannot access downloads on a mobile device! (If you are on a desktop, try full-screening your browser)';
      @include mixins.PrimaryText();
      top: 50%;
      left: 50%;
      text-align: center;
      width: 100vw;
      position: fixed;
      z-index: 50;
      transform: translate(-50%, -50%);
      padding: 10px 10px;
      background: #2a2b2caa;
    }
  }
}
